# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.asm
*.tlog
*.pdb
*.def
*.mk
*.tlb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/packages
/Debug64
*.log
*.recipe
*.ilk
*.res
/enc_temp_folder
/focusdll/Debug64
CP_Main.vcxproj.user
CP_Main_i.c
CP_Main_i.h
*.idb
*.lnk
CP_Main.aps
/focusdll/Release64
/ICU_Loader/x64
/Release64
