/////////////////////////////////////////////////////////////////////////////
//
// Toolbar resources
//

#include "ids.h"

TOOLBAR_CONTROL         BITMAP  DISCARDABLE     "RulerRichEditCtrl/toolbar.bmp"

TOOLBAR_CONTROL TOOLBAR DISCARDABLE  16, 15
BEGIN
    BUTTON      BUTTON_FONT
	SEPARATOR
	SEPARATOR
	SEPARATOR
	SEPARATOR
	SEPARATOR
	SEPARATOR
	SEPARATOR
    BUTTON      BUTTON_BOLD
    BUTTON      BUTTON_ITALIC
    BUTTON      BUTTON_UNDERLINE
    SEPARATOR
    BUTTON      BUTTON_LEFTALIGN
    BUTTON      BUTTON_CENTERALIGN
    BUTTON      BUTTON_RIGHTALIGN
    SEPARATOR
    BUTTON      BUTTON_INDENT
    BUTTON      BUTTON_OUTDENT
    BUTTON      BUTTON_BULLET
    BUTTON      ID_BUTTONWRAP
END

STRINGTABLE DISCARDABLE 
BEGIN
    STRING_COLOR            "Color"
    STRING_DEFAULT          "Automatic"
    STRING_CUSTOM           "More Colours..."
END

