/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body 
{
	margin: 0;
	padding: 0;
	background: #0BA1DE url(images/img01.gif) repeat-x left top;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	color: #FFFFFF;
}

h1, h2, h3 
{
	margin: 0;
	/*text-transform: lowercase;*/
	font-weight: normal;
	color: #FFFFFF;
}

h1 
{
	letter-spacing: -1px;
	font-size: 32px;
}

h2 
{
	font-size: 23px;
}

p, ul, ol 
{
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}

a:link 
{
	color: #EFCE58;
}

a:hover, a:active 
{
	text-decoration: none;
	color: #EFCE58;
}

a:visited 
{
	color: #EFCE58;
}

img 
{
	border: none;
}

img.left 
{
	float: left;
	margin-right: 15px;
}

img.right 
{
	float: right;
	margin-left: 15px;
}

/* Form */

form 
{
	margin: 0;
	padding: 0;
}

fieldset 
{
	margin: 0;
	padding: 0;
	border: none;
}

legend 
{
	display: none;
}

input, textarea, select 
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

#wrapper 
{
	margin: 0;
	padding: 0;
}

/* Header */

#header 
{
	width: 840px;
	margin: 0 auto;
	height: 60px;
}

/* Menu */

#menu 
{
	float: left;
	width: 840px;
	height: 60px;
	background: url(images/img02.gif) no-repeat left top;
	font-family: Arial, Helvetica, sans-serif;
}

#menu ul 
{
	margin: 0;
	padding: 0px 0 0 20px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 3px;
	padding: 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	color: #283386;
}

#menu a:hover { 
	background: #8BD2EF;
	color: #FFFFFF;
}

#menu .current_page_item a {
	background: #8BD2EF;
	color: #FFFFFF;
}

/** LOGO */

#logo 
{
	width: 840px;
	height: 80px;
	margin: 0 auto;
}

#logo h1, #logo h2 {
	float: left;
	margin: 0;
	padding: 30px 0 0 0px;
	line-height: normal;
}

#logo h1 { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:40px;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF; 
}

#logo h1 a:hover 
{ 
	text-decoration: underline; 
}

#logo h2 
{
	float: left;
	padding: 45px 0 0 18px;
	font: 18px Georgia, "Times New Roman", Times, serif;
	color: #EFCE58; 
}

#logo h2 a 
{
	text-decoration: none;
}

#logo h2 a:hover 
{ 
	text-decoration: underline; 
}

#logo p a {
	text-decoration: none;
	color: #EFCE58;
}

#logo p a:hover { text-decoration: underline; }



/* Page */

#page {
	width: 820px;
	margin: 0 auto;
}

/* Content */

#content {
	float: left;
	width: 540px;
	
}

/* Post */

.post {
	border: 10px #8FD3EF solid;
	padding: 15px 20px;
	background: url(images/img04.gif) repeat left top;
	margin-bottom: 20px;
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.post h1 {
	width: 520px;
	padding: 0px 0 0 0px;
	background: url(images/img08.jpg) no-repeat left top;
	font-size: 24px;
	color: #FFFFFF;
}

.post h2 {
	width: 520px;
	padding: 0px 0 0 0px;
	font-size: 22px;
	color: #FFFFFF;
}

.post .entry {
}

.post .meta {
	padding: 15px 15px 30px 0px;
	font-size: 10px;
}

.post .meta p {
	margin: 0;
	padding-top: 15px;
	line-height: normal;
	color: #FFFFFF;
}

.post .meta .byline {
	float: left;
}

.post .meta .links {
	float: right;
}

.post .meta .more {
	padding: 0 20px 0 18px;
}

.post .meta .comments {
	padding-left: 22px;
}

.post .meta b {
	display: none;
}


/* Sidebar */

#sidebar 
{
	float: right;
	width: 230px;
	margin: 0;
	padding: 0;
}

#sidebar h2 
{
	width: 300px;
	padding: 8px 0 0 0px;
	margin-bottom: 10px;
	background: url(images/img07.jpg) no-repeat left top;
	font-size: 30px;
	color: #FFFFFF;
}

/* Search */

#search {

}

#search h2 {
	margin-bottom: 20px;
}

#s {
	width: 140px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #BED99C;
}

#x {
	padding: 3px;
	border: none;
	background: #8FD3EF;
	text-transform: lowercase;
	font-size: 11px;
	color: #085B7B;
}

/* Boxes */

.box1 {
	padding: 20px;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */
#footer-wrap {
}

#footer {
	background: #0B97D4 url(images/img03.gif) repeat-x left top;
	margin: 0 auto;
	padding: 20px 0 10px 0;
}

html>body #footer {
	height: auto;
}

#footer p {
	font-size: 14px;
}

#legal {
	clear: both;
	padding-top: 17px;
	text-align: center;
	color: #FFFFFF;
}

#legal a {
	font-weight: normal;
	color: #FFFFFF;
}

#google
{
	text-align: right;
}
